.imagesection{
    /* width: 100%; */
    margin: 0 auto;
}

.image{
    border-radius: 50%;
    margin-right: -4rem;
    margin-top: -3rem;
}

@media (max-width:1002px) {
    .image{
        border-radius: 50%;
        margin: auto;
    }
}