.button{
    border: none;
    margin: 1rem 0;
    padding: 0.7rem 4rem;
    color: antiquewhite;
    font-weight: 500;
    border-radius: 5px;
    background-color:blue;
}

.button:hover{
    cursor: pointer;
}
.button .link{
    text-decoration:none;
    color: aliceblue;
}
.button:active{
    box-shadow: 1px 1px 10px black;
}
