.resumeContainer {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 20rem;
    border-right: 1px solid gray;
    height: 100%;
  } 
.starAndText {
    display: grid;
    align-items: center;
    grid-template-columns: 0fr 1fr;
    gap: 5px;
    
  }
  .searchAndText {
    display: grid;
    align-items: center;
    grid-template-columns: 0fr 1fr;
    gap: 5px;
    font-weight: bold;
  }
  .link{
    text-decoration: none;
    color: black;
}
  