.form{
    width: 70%;
}
.text{
    margin-top: 10px;
}
.link{
    text-decoration: none;
    color: blue;
}
.formsection{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap:1rem;
}
.icon{
    /* Absolute positioning */

right: 0;
top: 50%;
transform: translateY(-50%);
/* Text color */
color: var(--ui-fg-subtle);
/* Padding */
padding-left: 1rem;
padding-right: 1rem;
/* Focus styles */
outline: none;
/* Transition */
transition-property: all;
transition-duration: 150ms;
/* Focus text color */
focus-color: var(--gray-700);

}
.inputs{
    width: 100%;

}
.inputs input{
    width:100%;
    padding: 0.7rem 1.2rem;
    border-radius: 5px;
    border: none;
    border:1px solid green;
}

.textarea{
    width:100%;
    margin:1.1rem 0;
    padding: 0.7rem 1.2rem;
    border-radius: 5px;
    border: none;
    border:1px solid green;
}

@media (max-width:426px) {
    .formsection{
        display: block;
        width: 100%;
        gap:1rem;
        
    }
    .inputs input{
        margin:0.5rem 0;
    }
    .textarea{
        margin:0.5rem 0;
    }
}
@media (max-width:1003px){
    .form{
        width:100%
    }
}




