.p{
    color: red;
    margin-top: 0.5rem;
}
.h1{
    font-size: medium;
    margin-bottom: 0.5rem;
}
.link{
    text-decoration: none;
    color: blue;
}
    .div {
        border: 2px solid gray; 
        padding: 10px; 
        border-radius: 1rem;
        margin:20px;
        
    }
    .button{border: none;
   
    color: red;
    font-weight: 500;
    border-radius: 5px;
    background-color:white;
}

.button:hover{
    cursor: pointer;
}


   .div1{
    margin-top: 1.5rem;
    padding: 10px; 
    border-radius: 1rem;
    margin: 20px;
   } 
   .div2{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
   }
   .div3{
    text-decoration: none;
    color: gray;
   }
