.contactus{
   display: flex;
   flex-direction: column;
   gap:1rem;
   margin: 20px; 
   border-radius: 8px;
}

.heading{
    font-size: x-small;
}
.formsection{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
