.main{
    display: flex;
    flex-direction: row;
    position: relative;
}

.toggle{
    position: absolute;
    top: 0;
}

.contactus{
   display: flex;
   flex-direction: column;
   gap:1rem;
   margin: 20px; 
   border-radius: 8px;
}

.heading{
    font-size: x-small;
}
.formsection{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap-reverse;
}

@media (max-width: 426px) {
    .side{
     display: none;
     position: absolute;
    }
 }
